<html>
    <head>
      <title>Comments</title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="style.css">
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
      <script src="javascripts/app.js"></script>
    
    </head>
    <body>
    <body ng-app="comment" ng-controller="MainCtrl">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="page-header"> 
      <h1>Store Management Interface </h1>
    </div>
    
      <form ng-submit="addComment()" style = "margin-top30px;">
        Product Name  <input type="text" ng-model="formContent"></input>
        <br>
        <br>
        Price  <input type="text" ng-model="price" value="">
        <br>
        <br>
        Image Url  <input type="url" ng-model="Url" value="">

        <br>
        <br>
        <button type="submit">Add Product</button>
      
      </form>

      



        <h1>Current Products</h1>
      <div>
        {{test}}
      </div>
      <div ng-repeat="comment in comments | orderBy: 'title'">
        <span class="glyphicon glyphicon-remove" ng-click="delete(comment)"></span>
       <!--<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span> -->
        {{comment.title}} -  price: {{$scope.price}} - ordered: {{comment.upvotes}} 
        <!-- {{comment.title}} - price: {{}} - votes: {{comment.upvotes}} -->
      </div>
    
    </div>
    </div>
    </body>
  </body>
    </html>